version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 20
  ignore:
    - dependency-name: "electron"
      update-types: ["version-update:semver-major"]
