{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 9 }
        }],
        "@babel/preset-typescript"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 9 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": { "node": "current" }
        }],
        "@babel/preset-typescript"
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  }
}
