{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ],
      "plugins": [
        "istanbul",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 10 }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
          "targets": { "electron": "6" }
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}
