@tailwind base;
@tailwind components;
@tailwind utilities;

.emojione {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}

.timeline {
  width: 100%;
}


.timeline-with-drawer {
  width: calc(100% - 384px);
}

.detail {
  width: 384px;
}

@media screen and (max-width: 996px) {
  .timeline-with-drawer {
    width: 0;
    display: none;
  }

  .detail {
    width: 100%;
  }
}

.raw-html .invisible {
  display: none;
}

.timeline-scrollable {
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(203 213 225);
    border-radius: 4px !important;
    opacity: 0;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px !important;
    background-color: rgb(241 245 249);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      opacity: 1;
    }
  }
}
