@tailwind base;
@tailwind components;
@tailwind utilities;

.emojione {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
}


.timeline-wrapper {
  width: calc(100% - 16rem);
}

.timeline {
  width: 100%;
}

.timeline-with-drawer {
  width: calc(100% - 384px);
}

.detail {
  width: 384px;
}

@media screen and (max-width: 1112px) {
  .sidebar-menu {
    display: none;
  }

  .my-profile {
    visibility: hidden;
  }

  .sidebar {
    width: 64px;
  }

  .timeline-wrapper {
    width: calc(100% - 64px);
  }

  .sidebar-menu-item {
    position: relative;
  }

  .sidebar-menu-item > span {
    display: none;
  }

  .sidebar-toolchip {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 7px;
  }

  .sidebar-toolchip > div {
    padding: 2px 4px;
  }
}

@media screen and (max-width: 996px) {
  .timeline-with-drawer {
    display: none;
  }

  .detail {
    width: 100%;
  }
}

.raw-html .invisible {
  display: none;
}

.timeline-scrollable {
  overflow-y: auto;
  overflow-x: auto;
}

.timeline-scrollable::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.timeline-scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225);
  border-radius: 4px !important;
  opacity: 0;
}

.timeline-scrollable::-webkit-scrollbar-track {
  border-radius: 4px !important;
  background-color: rgb(241 245 249);
}

.timeline-scrollable:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

button:focus {
  outline: none;
}

a {
  color: blue;
}

 a:hover {
  text-decoration: underline;
}
