/* === Bookerly - Regular */
@font-face {
	font-family: 'Bookerly';
	font-style: normal;
	font-weight: 400;
	src: url("./Bookerly-Regular.ttf");
	src: local("Bookerly Regular"),
		local("Bookerly-Regular"),
		url("./Bookerly-Regular.ttf") format("truetype");
}
